h1 {
  color: mediumaquamarine;
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
}
header h1 {
  display: flex;
  justify-content: flex-end;
}
header img {
  position: relative;
  display: flex;
}

a {
  color: black;
  display: inline-block;
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
}
