/* HEADER */
body {
  margin: 8px;
}

header {
  display: flex;
  border-bottom: 1px solid black;
  justify-content: space-between;
  align-items: center;
}
/* HEADER BRANDING */
.branding-container {
  display: flex;
  align-items: center;
  border: 1px solid black;
  width: 1150px;
  margin-bottom: 10px;
}

header img {
  width: 60px;
}
.branding-container h1 {
  margin-left: 10px;
  border-left: 1px solid mediumaquamarine;
  color: mediumaquamarine;
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
  padding: 20px;
}

/* HEADER NAV */
nav {
  display: flex;
}

a {
  color: black;
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
  margin-right: 20px;
}

/*COLUMNS */
.columns {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2em;
  text-align: justify;
  margin-left: 50px;
  border: 1px solid black;
}

.large {
  border: 1px solid black;
  width: 630px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.medium {
  margin-top: 30px;
  border: 1px solid black;
  width: 300px;
  display: flex;
  flex-direction: column;
}
.small {
  margin-top: 30px;
  border: 1px solid black;
  width: 240px;
  display: flex;
  flex-direction: column;
}

/*GENERAL DETAILS*/
h1 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}
h2 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 20px;
  color: black;
}

p:first-child {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
p:last-child {
  border: 1px solid black;
  font-size: 14px;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
}

/* ARTICLES */

.article-1 .main-text {
  text-align: left;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}
.article-1 p {
  margin-top: 20px;
}
.article-1 p:last-child {
  margin-top: 20px;
}
.large .flexible-articles {
  display: flex;
  flex-direction: row;
}

.article-2 h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.article-2 p:last-child {
  margin-top: 20px;
}

.article-2 .text-2 {
  margin-bottom: 20px;
  margin-top: 20px;
}
.article-3 h1 {
  margin-bottom: 20px;
}

.article-3 p:last-child {
  margin-top: 20px;
}

.article-3 .empty-section-3 {
  height: 20px;
  margin-top: 20px;
}

.article-4 {
  height: 300px;
}

.article-4 h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.article-4 p:first-child {
  margin-top: 20px;
}
.article-4 p:last-child {
  margin-top: 70px;
}
.article-5 .empty-section {
  border: 1px solid black;
  height: 20px;
  margin-top: 20px;
}
.article-5 {
  margin-top: 20px;
}
.article-5 p {
  margin-bottom: 20px;
}
.article-6 img {
  border: 1px solid black;
  width: 240px;
}
.article-6 h1 {
  margin-bottom: 20px;
}

/* IMAGES */

.image-1 {
  background-image: url("../images/image5.png");
  height: 300px;
  align-items: center;
  background-size: cover;
}

.image-2 {
  margin-top: 20px;
  background-image: url("../images/image2.png");
  border: 1px solid black;
  background-repeat: repeat-x;
  background-position: right;
  background-size: contain;
  height: 300px;
}

.image-3 {
  background-image: url("../images/image3.png");
  height: 302px;
  background-size: contain;
  background-repeat: repeat-x;
}

.image-4 {
  background-image: url("../images/image1.png");
  height: 300px;
  background-size: contain;
  background-repeat: repeat-x;
  margin-bottom: 20px;
}
